
# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
build/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
